<html>

<head>
<title>Title</title>
</head>

<body>

<p>Here we generate the data to be used:</p>

<!--begin.rcode include=FALSE
library(DBI)
library(RMySQL)
library(rredis)
library(dplyr)
library(rjson)

connectMysql <- function(hash){
  params <- rawToChar(base64decode(base64encode(hash)))
  params <- strsplit(params, ",")
  
  con <- dbConnect(RMySQL::MySQL(),database=params[0], user=params[1], password=params[2], host=params[3])
  con
}

connectRedis <- function(oldHash, newHash, con){
  redisConnect()
  redisSet(oldHash,newHash)
}


  users <- data.frame(seq(1,100, 1))
  forums <- data.frame(id = seq(1,5,1), name = c("HELP", "INTRODUCTION", "R", "STATISTICAL","MACHINE LEARNING"))
  acesses <- data.frame(user=sample(1:100, 1000, replace=T), forum = sample(1:5, 1000, replace=T))
  result <- group_by(acesses, user) %>% summarise(total = n()) %>% arrange(desc(total))

end.rcode-->

<script> ourdata=
<!--begin.rcode
rjson::toJSON(apply(g4$data,MARGIN=1,FUN=function(x)return(list(x))))
end.rcode-->
</script>

<p>Table:</p>

<!--begin.rcode
result
end.rcode-->


<p>histogram:</p>

<!--begin.rcode fig.width=7, fig.height=6
hist(result$total)
end.rcode-->

<!--begin.rcode fig.width=7, fig.height=6
barplot(result$total,horiz=TRUE,names.arg=result$user)
end.rcode-->

</body>
</html>
